name: Test Installation

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'install.sh'
      - 'install.ps1'
      - '.github/workflows/test-install.yml'

jobs:
  test-linux:
    name: Test Linux Installation
    runs-on: ubuntu-latest
    steps:
      - name: Download and run install script
        run: |
          curl -sSf https://raw.githubusercontent.com/ozx1/shrt/master/install.sh | sudo sh
      
      - name: Verify shrt is installed
        run: |
          which shrt
          shrt help

  test-macos:
    name: Test macOS Installation (ARM64)
    runs-on: macos-latest
    steps:
      - name: Download and run install script
        run: |
          curl -sSf https://raw.githubusercontent.com/ozx1/shrt/master/install.sh | sh
      
      - name: Verify shrt is installed
        run: |
          which shrt
          shrt help

  test-windows:
    name: Test Windows Installation
    runs-on: windows-latest
    steps:
      - name: Download and run install script
        shell: powershell
        run: |
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          iwr https://raw.githubusercontent.com/ozx1/shrt/master/install.ps1 -UseBasicParsing | iex
      
      - name: Verify shrt is installed
        shell: powershell
        run: |
          $env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
          Get-Command shrt -ErrorAction Stop
          shrt help